<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <!-- App Settings -->
  <appSettings>
    <add key="MaxAppCountInGroup" value="10" />
    <add key="MaxGroupCountOnPage" value="50" />
    <add key="AppRunIntervalTime" value="500" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <!-- NLog Settings -->
  <nlog>
    <targets>
      <target name="App" type="File" fileName="Logs/App.log" layout="${date} | ${callsite} | ${level:uppercase=true} | ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="App" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>